.resume {
    color: #626a70;
    text-decoration: none;
    padding: 8px 18px;
    font-size: 24px;
    background-color: #dcd1ff;
    border-radius: 8px;
    margin: 0 12px 12px;
}

.resume:hover {
    padding: 10px 22px;
    font-weight: 500;
    color: #626a70;
}

.resume-h1 {
    padding: 3px 10px 1px;
    margin: 12px 0 10px;
    color: #626a70;
    border-radius: 8px;
    background-color: #dcd1ff;
}

.resume-ul {
    padding: 0!important;
}

.resume-header {
    background-color: rgb(108, 117, 125);
    border-radius: 8px;
}

ul {
    margin-bottom: 8px!important;
}

li {
    color: #626a70;
    font-weight: 500;
    background-color: #dcd1ff;
    margin: 10px 8px;
    border-radius: 6px;
    padding: 2px 24px;
    list-style: none;
    font-size: 125% !important;
}

.main-resume-div{
    padding-bottom: 70px;
}

.technology-div, .skill-div {
    background-color: rgb(108, 117, 125);
    border-radius: 8px;
    margin-top: 16px!important;
    padding: 8px 0 0;
}

.skill-div {
    margin-top: 20px!important;
}

.technology-div h3, .skill-div h3 {
    background-color: #dcd1ff;
    font-size: 215% !important;
    text-align: center;
    color: #626a70;
    padding: 6px 14px;
    border-radius: 8px;
    margin-top: 4px;
}