.resume {
    color: #936fff;
    text-decoration: none;
    padding: 10px 7px;
    font-size: 24px;
}

.resume-h1 {
    padding-top: 5px;
    color: #660fa0;
}

.resume-ul {
    padding: 0 !important;
}

ul {
    margin-bottom: 8px!important;
}

li {
    color: #626a70;
    background-color: #dcd1ff;
    margin: 10px 0;
    border-radius: 6px;
    padding: 2px 24px;
    list-style: none;
    font-size: 115% !important;
}

.main-resume-div{
    padding-bottom: 70px;
}

.front-end-div, .back-end-div {
    background-color: rgb(108, 117, 125);
    border-radius: 8px;
    margin-top: 10px!important;
    padding: 8px 0 0;
}

.front-end-div h3, .back-end-div h3 {
    background-color: #dcd1ff;
    font-size: 210% !important;
    text-align: center;
    color: #626a70;
    padding: 6px 12px;
    border-radius: 8px;
    margin-top: 4px;
}