:root {
    --botticelli: #d2d9e6;
    --purple: #660fa0;
    --light-purple: #d9cdff;
    --dark-gray: #353535;
    --cararra: #e7e7e0;
    --electric-violet: #8b16e3;
}

.parent {
    position: relative;
    min-height: 100vh;
}

.a-header {
    color: white;
    text-decoration: none;
    border-bottom: 1px var(--light-purple) solid;
    padding: 0 7px;
    font-size: 28px;
}

.header-name {
    font-size: 40px;
}

.a-header:hover {
    color: var(--light-purple);
    cursor: pointer;
}

.a-header:active {
    font-size: 27px;    
}

.desc-span {
    font-size: 19px;
    font-style: italic;
    padding-bottom: 12px;
}

.name-span {
    padding: 2px 0 0 0;
    font-style: italic;
    font-weight: 600;
    color: var(--light-purple);
    text-decoration: none;
}

.name-span:hover {
    color: white;
}

.active {
    color: var(--light-purple);
    font-size: 29px;
}

.footer-container {
    height: 50px;
    position: absolute;
    bottom: 0;
}

i {
    padding-top: 12px;
    font-size: 25px;
}

.a-footer {
    color: white;
    text-decoration: none;
}

.a-footer:hover {
    color: var(--light-purple);
    cursor: pointer;
}

@media (max-width: 544px) {
    .a-header {
        font-size: 18px;
        padding: 0 5px;
    }
    .header-name {
        font-size: 35px;
    }
    .desc-span {
        font-size: 15px;
    }
}